/* Index.js */


.index {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

label, input {
  display: block;
}

label {
  margin-bottom: 1em;
  padding: 1em;
}

#submit_new_customer{
  margin-left: 1em;
}

#multi_select{
  max-width: 10em;
}

.show_h2_div{
  margin-left: 100px;
}

#new_errors{
  margin-left: 10px;
}